html,body,
h1,h2,h3,h4,h5,h6,p,span,button,input,label{
	font-family:$font-family !important;
}

input[type='submit'].c-btn{
	font-weight: 700 !important;
}
::placeholder {
	font-family: $font-family !important;
	text-transform: capitalize;
}
.daterangepicker{
	z-index: 9999 !important;
}
.calendar-table{
	z-index: 9999 !important;
}
#customer_results,#product_result{
	position: absolute;
    background: #fff;
    z-index: 99;
    width:96%;
    ul{
    	li{
    		padding:10px 10px;
    		cursor:pointer;
    		&:hover{
    			background-color:$primary;
    			color:$white;
    		}
    	}
    }
}